<div>
    <h2 id="page-heading">
        <span>Storage Bins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-storage-bin" [routerLink]="['/storage-bin/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Storage Bin
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="storageBins?.length === 0">
        <span>No storageBins found</span>
    </div>
    <div class="table-responsive" *ngIf="storageBins?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="binNumber"><span>Bin Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="binDescription"><span>Bin Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="history.id"><span>History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let storageBin of storageBins ;trackBy: trackId">
                <td><a [routerLink]="['/storage-bin', storageBin.id, 'view' ]">{{storageBin.id}}</a></td>
                <td>{{storageBin.binNumber}}</td>
                <td>{{storageBin.binDescription}}</td>
                <td>
                    <div *ngIf="storageBin.history">
                        <a [routerLink]="['/document-history', storageBin.history?.id, 'view' ]" >{{storageBin.history?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/storage-bin', storageBin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/storage-bin', storageBin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(storageBin)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
