<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-model-heading">Create or edit a Model</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modelCode">Model Code</label>
                    <input type="text" class="form-control" name="modelCode" id="field_modelCode"
                           formControlName="modelCode"/>
                    <div *ngIf="editForm.get('modelCode')!.invalid && (editForm.get('modelCode')!.dirty || editForm.get('modelCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('modelCode')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modelName">Model Name</label>
                    <input type="text" class="form-control" name="modelName" id="field_modelName"
                           formControlName="modelName"/>
                    <div *ngIf="editForm.get('modelName')!.invalid && (editForm.get('modelName')!.dirty || editForm.get('modelName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('modelName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_relatedProduct">Related Product</label>
                    <select class="form-control" id="field_relatedProduct" name="relatedProduct" formControlName="relatedProduct">
                        <option *ngIf="!editForm.get('relatedProduct')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="productsOption.id === editForm.get('relatedProduct')!.value?.id ? editForm.get('relatedProduct')!.value : productsOption" *ngFor="let productsOption of products; trackBy: trackById">{{productsOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('relatedProduct')!.invalid && (editForm.get('relatedProduct')!.dirty || editForm.get('relatedProduct')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('relatedProduct')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
