<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="salesAccountBalance">
            <h2><span>Sales Account Balance</span> {{salesAccountBalance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Balance</span></dt>
                <dd>
                    <span>{{salesAccountBalance.balance}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <div *ngIf="salesAccountBalance.location">
                        <a [routerLink]="['/location', salesAccountBalance.location?.id, 'view']">{{salesAccountBalance.location?.id}}</a>
                    </div>
                </dd>
                <dt><span>Transaction Type</span></dt>
                <dd>
                    <div *ngIf="salesAccountBalance.transactionType">
                        <a [routerLink]="['/transaction-type', salesAccountBalance.transactionType?.id, 'view']">{{salesAccountBalance.transactionType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sales-account-balance', salesAccountBalance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
