<div>
    <h2 id="page-heading">
        <span>Supplier Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supplier-account" [routerLink]="['/supplier-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Supplier Account
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="supplierAccounts?.length === 0">
        <span>No supplierAccounts found</span>
    </div>
    <div class="table-responsive" *ngIf="supplierAccounts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionDate"><span>Transaction Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionDescription"><span>Transaction Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionAmountDR"><span>Transaction Amount DR</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionAmountCR"><span>Transaction Amount CR</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionBalance"><span>Transaction Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="history.id"><span>History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionType.id"><span>Transaction Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="supplier.id"><span>Supplier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplierAccount of supplierAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/supplier-account', supplierAccount.id, 'view' ]">{{supplierAccount.id}}</a></td>
                <td>{{supplierAccount.transactionDate | date:'mediumDate'}}</td>
                <td>{{supplierAccount.transactionDescription}}</td>
                <td>{{supplierAccount.transactionAmountDR}}</td>
                <td>{{supplierAccount.transactionAmountCR}}</td>
                <td>{{supplierAccount.transactionBalance}}</td>
                <td>
                    <div *ngIf="supplierAccount.history">
                        <a [routerLink]="['/document-history', supplierAccount.history?.id, 'view' ]" >{{supplierAccount.history?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplierAccount.location">
                        <a [routerLink]="['/location', supplierAccount.location?.id, 'view' ]" >{{supplierAccount.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplierAccount.transactionType">
                        <a [routerLink]="['/transaction-type', supplierAccount.transactionType?.id, 'view' ]" >{{supplierAccount.transactionType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplierAccount.supplier">
                        <a [routerLink]="['/supplier', supplierAccount.supplier?.id, 'view' ]" >{{supplierAccount.supplier?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/supplier-account', supplierAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supplier-account', supplierAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(supplierAccount)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
