<div>
    <h2 id="page-heading">
        <span>Cash Payment Voucher Customers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cash-payment-voucher-customer" [routerLink]="['/cash-payment-voucher-customer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Cash Payment Voucher Customer
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cashPaymentVoucherCustomers?.length === 0">
        <span>No cashPaymentVoucherCustomers found</span>
    </div>
    <div class="table-responsive" *ngIf="cashPaymentVoucherCustomers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionNumber"><span>Transaction Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionDate"><span>Transaction Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionDescription"><span>Transaction Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionAmount"><span>Transaction Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="history.id"><span>History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionType.id"><span>Transaction Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="customer.id"><span>Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cashPaymentVoucherCustomer of cashPaymentVoucherCustomers ;trackBy: trackId">
                <td><a [routerLink]="['/cash-payment-voucher-customer', cashPaymentVoucherCustomer.id, 'view' ]">{{cashPaymentVoucherCustomer.id}}</a></td>
                <td>{{cashPaymentVoucherCustomer.transactionNumber}}</td>
                <td>{{cashPaymentVoucherCustomer.transactionDate | date:'mediumDate'}}</td>
                <td>{{cashPaymentVoucherCustomer.transactionDescription}}</td>
                <td>{{cashPaymentVoucherCustomer.transactionAmount}}</td>
                <td>
                    <div *ngIf="cashPaymentVoucherCustomer.history">
                        <a [routerLink]="['/document-history', cashPaymentVoucherCustomer.history?.id, 'view' ]" >{{cashPaymentVoucherCustomer.history?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cashPaymentVoucherCustomer.location">
                        <a [routerLink]="['/location', cashPaymentVoucherCustomer.location?.id, 'view' ]" >{{cashPaymentVoucherCustomer.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cashPaymentVoucherCustomer.transactionType">
                        <a [routerLink]="['/transaction-type', cashPaymentVoucherCustomer.transactionType?.id, 'view' ]" >{{cashPaymentVoucherCustomer.transactionType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cashPaymentVoucherCustomer.customer">
                        <a [routerLink]="['/customer', cashPaymentVoucherCustomer.customer?.id, 'view' ]" >{{cashPaymentVoucherCustomer.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cash-payment-voucher-customer', cashPaymentVoucherCustomer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cash-payment-voucher-customer', cashPaymentVoucherCustomer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(cashPaymentVoucherCustomer)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
