<div>
    <h2 id="page-heading">
        <span>Quotation Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quotation-details" [routerLink]="['/quotation-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Quotation Details
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="quotationDetails?.length === 0">
        <span>No quotationDetails found</span>
    </div>
    <div class="table-responsive" *ngIf="quotationDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rate"><span>Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="item.id"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quote.id"><span>Quote</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quotationDetails of quotationDetails ;trackBy: trackId">
                <td><a [routerLink]="['/quotation-details', quotationDetails.id, 'view' ]">{{quotationDetails.id}}</a></td>
                <td>{{quotationDetails.rate}}</td>
                <td>{{quotationDetails.description}}</td>
                <td>
                    <div *ngIf="quotationDetails.item">
                        <a [routerLink]="['/items', quotationDetails.item?.id, 'view' ]" >{{quotationDetails.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="quotationDetails.quote">
                        <a [routerLink]="['/quotation', quotationDetails.quote?.id, 'view' ]" >{{quotationDetails.quote?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/quotation-details', quotationDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quotation-details', quotationDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(quotationDetails)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quotationDetails?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
