<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobDetails">
            <h2><span>Job Details</span> {{jobDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Job Item Price</span></dt>
                <dd>
                    <span>{{jobDetails.jobItemPrice}}</span>
                </dd>
                <dt><span>Job Item Qty</span></dt>
                <dd>
                    <span>{{jobDetails.jobItemQty}}</span>
                </dd>
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="jobDetails.item">
                        <a [routerLink]="['/items', jobDetails.item?.id, 'view']">{{jobDetails.item?.id}}</a>
                    </div>
                </dd>
                <dt><span>Job</span></dt>
                <dd>
                    <div *ngIf="jobDetails.job">
                        <a [routerLink]="['/job', jobDetails.job?.id, 'view']">{{jobDetails.job?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job-details', jobDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
