<div>
    <h2 id="page-heading">
        <span>Job Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-details" [routerLink]="['/job-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Job Details
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="jobDetails?.length === 0">
        <span>No jobDetails found</span>
    </div>
    <div class="table-responsive" *ngIf="jobDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="jobItemPrice"><span>Job Item Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="jobItemQty"><span>Job Item Qty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="item.id"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="job.id"><span>Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let jobDetails of jobDetails ;trackBy: trackId">
                <td><a [routerLink]="['/job-details', jobDetails.id, 'view' ]">{{jobDetails.id}}</a></td>
                <td>{{jobDetails.jobItemPrice}}</td>
                <td>{{jobDetails.jobItemQty}}</td>
                <td>
                    <div *ngIf="jobDetails.item">
                        <a [routerLink]="['/items', jobDetails.item?.id, 'view' ]" >{{jobDetails.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobDetails.job">
                        <a [routerLink]="['/job', jobDetails.job?.id, 'view' ]" >{{jobDetails.job?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/job-details', jobDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-details', jobDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(jobDetails)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
