<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="salesAccount">
            <h2><span>Sales Account</span> {{salesAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Transaction Date</span></dt>
                <dd>
                    <span>{{salesAccount.transactionDate}}</span>
                </dd>
                <dt><span>Transaction Description</span></dt>
                <dd>
                    <span>{{salesAccount.transactionDescription}}</span>
                </dd>
                <dt><span>Transaction Amount DR</span></dt>
                <dd>
                    <span>{{salesAccount.transactionAmountDR}}</span>
                </dd>
                <dt><span>Transaction Amount CR</span></dt>
                <dd>
                    <span>{{salesAccount.transactionAmountCR}}</span>
                </dd>
                <dt><span>Transaction Balance</span></dt>
                <dd>
                    <span>{{salesAccount.transactionBalance}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <div *ngIf="salesAccount.location">
                        <a [routerLink]="['/location', salesAccount.location?.id, 'view']">{{salesAccount.location?.id}}</a>
                    </div>
                </dd>
                <dt><span>Transaction Type</span></dt>
                <dd>
                    <div *ngIf="salesAccount.transactionType">
                        <a [routerLink]="['/transaction-type', salesAccount.transactionType?.id, 'view']">{{salesAccount.transactionType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sales-account', salesAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
