<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-change-log-heading">Create or edit a Change Log</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_changeKey">Change Key</label>
                    <input type="text" class="form-control" name="changeKey" id="field_changeKey"
                           formControlName="changeKey"/>
                    <div *ngIf="editForm.get('changeKey')!.invalid && (editForm.get('changeKey')!.dirty || editForm.get('changeKey')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('changeKey')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_changeFrom">Change From</label>
                    <input type="text" class="form-control" name="changeFrom" id="field_changeFrom"
                           formControlName="changeFrom"/>
                    <div *ngIf="editForm.get('changeFrom')!.invalid && (editForm.get('changeFrom')!.dirty || editForm.get('changeFrom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('changeFrom')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_changeTo">Change To</label>
                    <input type="text" class="form-control" name="changeTo" id="field_changeTo"
                           formControlName="changeTo"/>
                    <div *ngIf="editForm.get('changeTo')!.invalid && (editForm.get('changeTo')!.dirty || editForm.get('changeTo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('changeTo')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
