<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="changeLog">
            <h2><span>Change Log</span> {{changeLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Change Key</span></dt>
                <dd>
                    <span>{{changeLog.changeKey}}</span>
                </dd>
                <dt><span>Change From</span></dt>
                <dd>
                    <span>{{changeLog.changeFrom}}</span>
                </dd>
                <dt><span>Change To</span></dt>
                <dd>
                    <span>{{changeLog.changeTo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/change-log', changeLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
