<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-expense-heading">Create or edit a Expense</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expenseCode">Expense Code</label>
                    <input type="text" class="form-control" name="expenseCode" id="field_expenseCode"
                           formControlName="expenseCode"/>
                    <div *ngIf="editForm.get('expenseCode')!.invalid && (editForm.get('expenseCode')!.dirty || editForm.get('expenseCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('expenseCode')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expenseName">Expense Name</label>
                    <input type="text" class="form-control" name="expenseName" id="field_expenseName"
                           formControlName="expenseName"/>
                    <div *ngIf="editForm.get('expenseName')!.invalid && (editForm.get('expenseName')!.dirty || editForm.get('expenseName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('expenseName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expenseLimit">Expense Limit</label>
                    <input type="number" class="form-control" name="expenseLimit" id="field_expenseLimit"
                           formControlName="expenseLimit"/>
                    <div *ngIf="editForm.get('expenseLimit')!.invalid && (editForm.get('expenseLimit')!.dirty || editForm.get('expenseLimit')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('expenseLimit')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('expenseLimit')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
