<div>
    <h2 id="page-heading">
        <span>Suppliers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supplier" [routerLink]="['/supplier/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Supplier
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="suppliers?.length === 0">
        <span>No suppliers found</span>
    </div>
    <div class="table-responsive" *ngIf="suppliers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="supplierCode"><span>Supplier Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="supplierName"><span>Supplier Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="supplierCreditLimit"><span>Supplier Credit Limit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span>Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rating"><span>Rating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phone"><span>Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="addressLine1"><span>Address Line 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="addressLine2"><span>Address Line 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="city"><span>City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="country"><span>Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="image"><span>Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="history.id"><span>History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplier of suppliers ;trackBy: trackId">
                <td><a [routerLink]="['/supplier', supplier.id, 'view' ]">{{supplier.id}}</a></td>
                <td>{{supplier.supplierCode}}</td>
                <td>{{supplier.supplierName}}</td>
                <td>{{supplier.supplierCreditLimit}}</td>
                <td>{{supplier.isActive}}</td>
                <td>{{supplier.rating}}</td>
                <td>{{supplier.phone}}</td>
                <td>{{supplier.addressLine1}}</td>
                <td>{{supplier.addressLine2}}</td>
                <td>{{supplier.city}}</td>
                <td>{{supplier.country}}</td>
                <td>
                    <a *ngIf="supplier.image" (click)="openFile(supplier.imageContentType, supplier.image)">
                        <img [src]="'data:' + supplier.imageContentType + ';base64,' + supplier.image" style="max-height: 30px;" alt="supplier image"/>
                    </a>
                    <span *ngIf="supplier.image">{{supplier.imageContentType}}, {{byteSize(supplier.image)}}</span>
                </td>
                <td>
                    <div *ngIf="supplier.history">
                        <a [routerLink]="['/document-history', supplier.history?.id, 'view' ]" >{{supplier.history?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplier.location">
                        <a [routerLink]="['/location', supplier.location?.id, 'view' ]" >{{supplier.location?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/supplier', supplier.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supplier', supplier.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(supplier)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
