<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-goods-receipt-details-heading">Create or edit a Goods Receipt Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grnQty">Grn Qty</label>
                    <input type="number" class="form-control" name="grnQty" id="field_grnQty"
                           formControlName="grnQty"/>
                    <div *ngIf="editForm.get('grnQty')!.invalid && (editForm.get('grnQty')!.dirty || editForm.get('grnQty')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('grnQty')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('grnQty')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_revisedItemCost">Revised Item Cost</label>
                    <input type="number" class="form-control" name="revisedItemCost" id="field_revisedItemCost"
                           formControlName="revisedItemCost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_item">Item</label>
                    <select class="form-control" id="field_item" name="item" formControlName="item">
                        <option *ngIf="!editForm.get('item')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="itemsOption.id === editForm.get('item')!.value?.id ? editForm.get('item')!.value : itemsOption" *ngFor="let itemsOption of items; trackBy: trackById">{{itemsOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('item')!.invalid && (editForm.get('item')!.dirty || editForm.get('item')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('item')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_storageBin">Storage Bin</label>
                    <select class="form-control" id="field_storageBin" name="storageBin" formControlName="storageBin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="storageBinOption.id === editForm.get('storageBin')!.value?.id ? editForm.get('storageBin')!.value : storageBinOption" *ngFor="let storageBinOption of storagebins; trackBy: trackById">{{storageBinOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grn">Grn</label>
                    <select class="form-control" id="field_grn" name="grn" formControlName="grn">
                        <option *ngIf="!editForm.get('grn')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="goodsReceiptOption.id === editForm.get('grn')!.value?.id ? editForm.get('grn')!.value : goodsReceiptOption" *ngFor="let goodsReceiptOption of goodsreceipts; trackBy: trackById">{{goodsReceiptOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('grn')!.invalid && (editForm.get('grn')!.dirty || editForm.get('grn')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('grn')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
