<div>
    <h2 id="page-heading">
        <span>Goods Receipt Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-goods-receipt-details" [routerLink]="['/goods-receipt-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Goods Receipt Details
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="goodsReceiptDetails?.length === 0">
        <span>No goodsReceiptDetails found</span>
    </div>
    <div class="table-responsive" *ngIf="goodsReceiptDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="grnQty"><span>Grn Qty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="revisedItemCost"><span>Revised Item Cost</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="item.id"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="storageBin.id"><span>Storage Bin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="grn.id"><span>Grn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let goodsReceiptDetails of goodsReceiptDetails ;trackBy: trackId">
                <td><a [routerLink]="['/goods-receipt-details', goodsReceiptDetails.id, 'view' ]">{{goodsReceiptDetails.id}}</a></td>
                <td>{{goodsReceiptDetails.grnQty}}</td>
                <td>{{goodsReceiptDetails.revisedItemCost}}</td>
                <td>
                    <div *ngIf="goodsReceiptDetails.item">
                        <a [routerLink]="['/items', goodsReceiptDetails.item?.id, 'view' ]" >{{goodsReceiptDetails.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="goodsReceiptDetails.storageBin">
                        <a [routerLink]="['/storage-bin', goodsReceiptDetails.storageBin?.id, 'view' ]" >{{goodsReceiptDetails.storageBin?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="goodsReceiptDetails.grn">
                        <a [routerLink]="['/goods-receipt', goodsReceiptDetails.grn?.id, 'view' ]" >{{goodsReceiptDetails.grn?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/goods-receipt-details', goodsReceiptDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/goods-receipt-details', goodsReceiptDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(goodsReceiptDetails)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
