<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userPermissions">
            <h2><span>User Permissions</span> {{userPermissions.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Perm Key</span></dt>
                <dd>
                    <span>{{userPermissions.userPermKey}}</span>
                </dd>
                <dt><span>User Perm Description</span></dt>
                <dd>
                    <span>{{userPermissions.userPermDescription}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{userPermissions.isActive}}</span>
                </dd>
                <dt><span>History</span></dt>
                <dd>
                    <div *ngIf="userPermissions.history">
                        <a [routerLink]="['/document-history', userPermissions.history?.id, 'view']">{{userPermissions.history?.id}}</a>
                    </div>
                </dd>
                <dt><span>Menu Items</span></dt>
                <dd>
                    <span *ngFor="let menuItems of userPermissions.menuItems; let last = last">
                        <a [routerLink]="['/menu-items', menuItems?.id, 'view' ]">{{menuItems.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-permissions', userPermissions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
