<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-number-config-heading">Create or edit a Document Number Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_documentPrefix">Document Prefix</label>
                    <input type="text" class="form-control" name="documentPrefix" id="field_documentPrefix"
                           formControlName="documentPrefix"/>
                    <div *ngIf="editForm.get('documentPrefix')!.invalid && (editForm.get('documentPrefix')!.dirty || editForm.get('documentPrefix')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('documentPrefix')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_documentPostfix">Document Postfix</label>
                    <input type="text" class="form-control" name="documentPostfix" id="field_documentPostfix"
                           formControlName="documentPostfix"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currentNumber">Current Number</label>
                    <input type="number" class="form-control" name="currentNumber" id="field_currentNumber"
                           formControlName="currentNumber"/>
                    <div *ngIf="editForm.get('currentNumber')!.invalid && (editForm.get('currentNumber')!.dirty || editForm.get('currentNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('currentNumber')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('currentNumber')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_document">Document</label>
                    <select class="form-control" id="field_document" name="document" formControlName="document">
                        <option *ngIf="!editForm.get('document')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="documentTypeOption.id === editForm.get('document')!.value?.id ? editForm.get('document')!.value : documentTypeOption" *ngFor="let documentTypeOption of documenttypes; trackBy: trackById">{{documentTypeOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('document')!.invalid && (editForm.get('document')!.dirty || editForm.get('document')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('document')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" id="field_transactionType" name="transactionType" formControlName="transactionType">
                        <option *ngIf="!editForm.get('transactionType')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="transactionTypeOption.id === editForm.get('transactionType')!.value?.id ? editForm.get('transactionType')!.value : transactionTypeOption" *ngFor="let transactionTypeOption of transactiontypes; trackBy: trackById">{{transactionTypeOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('transactionType')!.invalid && (editForm.get('transactionType')!.dirty || editForm.get('transactionType')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('transactionType')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
