<div>
    <h2 id="page-heading">
        <span>Stocks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock" [routerLink]="['/stock/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Stock
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="stocks?.length === 0">
        <span>No stocks found</span>
    </div>
    <div class="table-responsive" *ngIf="stocks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="stockQty"><span>Stock Qty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="history.id"><span>History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="item.id"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="company.id"><span>Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stock of stocks ;trackBy: trackId">
                <td><a [routerLink]="['/stock', stock.id, 'view' ]">{{stock.id}}</a></td>
                <td>{{stock.stockQty}}</td>
                <td>
                    <div *ngIf="stock.history">
                        <a [routerLink]="['/document-history', stock.history?.id, 'view' ]" >{{stock.history?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stock.item">
                        <a [routerLink]="['/items', stock.item?.id, 'view' ]" >{{stock.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stock.location">
                        <a [routerLink]="['/location', stock.location?.id, 'view' ]" >{{stock.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stock.company">
                        <a [routerLink]="['/company', stock.company?.id, 'view' ]" >{{stock.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/stock', stock.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stock', stock.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(stock)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
