<div>
    <h2 id="page-heading">
        <span>Expense Account Balances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expense-account-balance" [routerLink]="['/expense-account-balance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Expense Account Balance
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="expenseAccountBalances?.length === 0">
        <span>No expenseAccountBalances found</span>
    </div>
    <div class="table-responsive" *ngIf="expenseAccountBalances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="balance"><span>Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionType.id"><span>Transaction Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="expense.id"><span>Expense</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let expenseAccountBalance of expenseAccountBalances ;trackBy: trackId">
                <td><a [routerLink]="['/expense-account-balance', expenseAccountBalance.id, 'view' ]">{{expenseAccountBalance.id}}</a></td>
                <td>{{expenseAccountBalance.balance}}</td>
                <td>
                    <div *ngIf="expenseAccountBalance.location">
                        <a [routerLink]="['/location', expenseAccountBalance.location?.id, 'view' ]" >{{expenseAccountBalance.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expenseAccountBalance.transactionType">
                        <a [routerLink]="['/transaction-type', expenseAccountBalance.transactionType?.id, 'view' ]" >{{expenseAccountBalance.transactionType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="expenseAccountBalance.expense">
                        <a [routerLink]="['/expense', expenseAccountBalance.expense?.id, 'view' ]" >{{expenseAccountBalance.expense?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/expense-account-balance', expenseAccountBalance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expense-account-balance', expenseAccountBalance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(expenseAccountBalance)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
