<div>
    <h2 id="page-heading">
        <span>Purchase Account Balances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-purchase-account-balance" [routerLink]="['/purchase-account-balance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Purchase Account Balance
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="purchaseAccountBalances?.length === 0">
        <span>No purchaseAccountBalances found</span>
    </div>
    <div class="table-responsive" *ngIf="purchaseAccountBalances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="balance"><span>Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location.id"><span>Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionType.id"><span>Transaction Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let purchaseAccountBalance of purchaseAccountBalances ;trackBy: trackId">
                <td><a [routerLink]="['/purchase-account-balance', purchaseAccountBalance.id, 'view' ]">{{purchaseAccountBalance.id}}</a></td>
                <td>{{purchaseAccountBalance.balance}}</td>
                <td>
                    <div *ngIf="purchaseAccountBalance.location">
                        <a [routerLink]="['/location', purchaseAccountBalance.location?.id, 'view' ]" >{{purchaseAccountBalance.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="purchaseAccountBalance.transactionType">
                        <a [routerLink]="['/transaction-type', purchaseAccountBalance.transactionType?.id, 'view' ]" >{{purchaseAccountBalance.transactionType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/purchase-account-balance', purchaseAccountBalance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/purchase-account-balance', purchaseAccountBalance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(purchaseAccountBalance)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
