<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cash-receipt-voucher-customer-heading">Create or edit a Cash Receipt Voucher Customer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionNumber">Transaction Number</label>
                    <input type="text" class="form-control" name="transactionNumber" id="field_transactionNumber"
                           formControlName="transactionNumber"/>
                    <div *ngIf="editForm.get('transactionNumber')!.invalid && (editForm.get('transactionNumber')!.dirty || editForm.get('transactionNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionNumber')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionDate">Transaction Date</label>
                    <div class="input-group">
                        <input id="field_transactionDate" type="text" class="form-control" name="transactionDate" ngbDatepicker  #transactionDateDp="ngbDatepicker" formControlName="transactionDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="transactionDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('transactionDate')!.invalid && (editForm.get('transactionDate')!.dirty || editForm.get('transactionDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionDescription">Transaction Description</label>
                    <input type="text" class="form-control" name="transactionDescription" id="field_transactionDescription"
                           formControlName="transactionDescription"/>
                    <div *ngIf="editForm.get('transactionDescription')!.invalid && (editForm.get('transactionDescription')!.dirty || editForm.get('transactionDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionDescription')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionAmount">Transaction Amount</label>
                    <input type="number" class="form-control" name="transactionAmount" id="field_transactionAmount"
                           formControlName="transactionAmount"/>
                    <div *ngIf="editForm.get('transactionAmount')!.invalid && (editForm.get('transactionAmount')!.dirty || editForm.get('transactionAmount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionAmount')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('transactionAmount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" id="field_transactionType" name="transactionType" formControlName="transactionType">
                        <option *ngIf="!editForm.get('transactionType')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="transactionTypeOption.id === editForm.get('transactionType')!.value?.id ? editForm.get('transactionType')!.value : transactionTypeOption" *ngFor="let transactionTypeOption of transactiontypes; trackBy: trackById">{{transactionTypeOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('transactionType')!.invalid && (editForm.get('transactionType')!.dirty || editForm.get('transactionType')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('transactionType')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option *ngIf="!editForm.get('customer')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{customerOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('customer')!.invalid && (editForm.get('customer')!.dirty || editForm.get('customer')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('customer')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
