<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payment-types-heading">Create or edit a Payment Types</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTypesCode">Payment Types Code</label>
                    <input type="text" class="form-control" name="paymentTypesCode" id="field_paymentTypesCode"
                           formControlName="paymentTypesCode"/>
                    <div *ngIf="editForm.get('paymentTypesCode')!.invalid && (editForm.get('paymentTypesCode')!.dirty || editForm.get('paymentTypesCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentTypesCode')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTypes">Payment Types</label>
                    <input type="text" class="form-control" name="paymentTypes" id="field_paymentTypes"
                           formControlName="paymentTypes"/>
                    <div *ngIf="editForm.get('paymentTypes')!.invalid && (editForm.get('paymentTypes')!.dirty || editForm.get('paymentTypes')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentTypes')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTypesChargePer">Payment Types Charge Per</label>
                    <input type="number" class="form-control" name="paymentTypesChargePer" id="field_paymentTypesChargePer"
                           formControlName="paymentTypesChargePer"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invicePay">Invice Pay</label>
                    <select class="form-control" id="field_invicePay" name="invicePay" formControlName="invicePay">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoiceOption.id === editForm.get('invicePay')!.value?.id ? editForm.get('invicePay')!.value : invoiceOption" *ngFor="let invoiceOption of invoices; trackBy: trackById">{{invoiceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
