<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-heading">Create or edit a Job</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jobCode">Job Code</label>
                    <input type="text" class="form-control" name="jobCode" id="field_jobCode"
                           formControlName="jobCode"/>
                    <div *ngIf="editForm.get('jobCode')!.invalid && (editForm.get('jobCode')!.dirty || editForm.get('jobCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobCode')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jobDescription">Job Description</label>
                    <input type="text" class="form-control" name="jobDescription" id="field_jobDescription"
                           formControlName="jobDescription"/>
                    <div *ngIf="editForm.get('jobDescription')!.invalid && (editForm.get('jobDescription')!.dirty || editForm.get('jobDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobDescription')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jobStartDate">Job Start Date</label>
                    <div class="input-group">
                        <input id="field_jobStartDate" type="text" class="form-control" name="jobStartDate" ngbDatepicker  #jobStartDateDp="ngbDatepicker" formControlName="jobStartDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="jobStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('jobStartDate')!.invalid && (editForm.get('jobStartDate')!.dirty || editForm.get('jobStartDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobStartDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jobEndDate">Job End Date</label>
                    <div class="input-group">
                        <input id="field_jobEndDate" type="text" class="form-control" name="jobEndDate" ngbDatepicker  #jobEndDateDp="ngbDatepicker" formControlName="jobEndDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="jobEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('jobEndDate')!.invalid && (editForm.get('jobEndDate')!.dirty || editForm.get('jobEndDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobEndDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jobAmount">Job Amount</label>
                    <input type="number" class="form-control" name="jobAmount" id="field_jobAmount"
                           formControlName="jobAmount"/>
                    <div *ngIf="editForm.get('jobAmount')!.invalid && (editForm.get('jobAmount')!.dirty || editForm.get('jobAmount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobAmount')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('jobAmount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" formControlName="status">
                        <option *ngIf="!editForm.get('status')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="jobStatusOption.id === editForm.get('status')!.value?.id ? editForm.get('status')!.value : jobStatusOption" *ngFor="let jobStatusOption of statuses; trackBy: trackById">{{jobStatusOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('status')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_history">History</label>
                    <select class="form-control" id="field_history" name="history" formControlName="history">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentHistoryOption.id === editForm.get('history')!.value?.id ? editForm.get('history')!.value : documentHistoryOption" *ngFor="let documentHistoryOption of histories; trackBy: trackById">{{documentHistoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option *ngIf="!editForm.get('location')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('location')!.invalid && (editForm.get('location')!.dirty || editForm.get('location')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('location')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option *ngIf="!editForm.get('customer')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{customerOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('customer')!.invalid && (editForm.get('customer')!.dirty || editForm.get('customer')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('customer')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label for="field_assignedTos">Assigned To</label>
                    <select class="form-control" id="field_assignedTos" multiple name="assignedTos" formControlName="assignedTos">
                        <option [ngValue]="getSelected(editForm.get('assignedTos')!.value, workerOption)" *ngFor="let workerOption of workers; trackBy: trackById">{{workerOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('assignedTos')!.invalid && (editForm.get('assignedTos')!.dirty || editForm.get('assignedTos')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('assignedTos')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
