<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-stock-transfer-heading">Create or edit a Stock Transfer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionNumber">Transaction Number</label>
                    <input type="text" class="form-control" name="transactionNumber" id="field_transactionNumber"
                           formControlName="transactionNumber"/>
                    <div *ngIf="editForm.get('transactionNumber')!.invalid && (editForm.get('transactionNumber')!.dirty || editForm.get('transactionNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionNumber')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionDate">Transaction Date</label>
                    <div class="input-group">
                        <input id="field_transactionDate" type="text" class="form-control" name="transactionDate" ngbDatepicker  #transactionDateDp="ngbDatepicker" formControlName="transactionDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="transactionDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('transactionDate')!.invalid && (editForm.get('transactionDate')!.dirty || editForm.get('transactionDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionDescription">Transaction Description</label>
                    <input type="text" class="form-control" name="transactionDescription" id="field_transactionDescription"
                           formControlName="transactionDescription"/>
                    <div *ngIf="editForm.get('transactionDescription')!.invalid && (editForm.get('transactionDescription')!.dirty || editForm.get('transactionDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionDescription')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionQty">Transaction Qty</label>
                    <input type="number" class="form-control" name="transactionQty" id="field_transactionQty"
                           formControlName="transactionQty"/>
                    <div *ngIf="editForm.get('transactionQty')!.invalid && (editForm.get('transactionQty')!.dirty || editForm.get('transactionQty')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transactionQty')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('transactionQty')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_item">Item</label>
                    <select class="form-control" id="field_item" name="item" formControlName="item">
                        <option *ngIf="!editForm.get('item')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="itemsOption.id === editForm.get('item')!.value?.id ? editForm.get('item')!.value : itemsOption" *ngFor="let itemsOption of items; trackBy: trackById">{{itemsOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('item')!.invalid && (editForm.get('item')!.dirty || editForm.get('item')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('item')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_locationFrom">Location From</label>
                    <select class="form-control" id="field_locationFrom" name="locationFrom" formControlName="locationFrom">
                        <option *ngIf="!editForm.get('locationFrom')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('locationFrom')!.value?.id ? editForm.get('locationFrom')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('locationFrom')!.invalid && (editForm.get('locationFrom')!.dirty || editForm.get('locationFrom')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('locationFrom')?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_locationTo">Location To</label>
                    <select class="form-control" id="field_locationTo" name="locationTo" formControlName="locationTo">
                        <option *ngIf="!editForm.get('locationTo')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="locationOption.id === editForm.get('locationTo')!.value?.id ? editForm.get('locationTo')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('locationTo')!.invalid && (editForm.get('locationTo')!.dirty || editForm.get('locationTo')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('locationTo')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
