<div>
    <h2 id="page-heading">
        <span>Stock Transfers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock-transfer" [routerLink]="['/stock-transfer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Stock Transfer
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="stockTransfers?.length === 0">
        <span>No stockTransfers found</span>
    </div>
    <div class="table-responsive" *ngIf="stockTransfers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionNumber"><span>Transaction Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionDate"><span>Transaction Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionDescription"><span>Transaction Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="transactionQty"><span>Transaction Qty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="item.id"><span>Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="locationFrom.id"><span>Location From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="locationTo.id"><span>Location To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stockTransfer of stockTransfers ;trackBy: trackId">
                <td><a [routerLink]="['/stock-transfer', stockTransfer.id, 'view' ]">{{stockTransfer.id}}</a></td>
                <td>{{stockTransfer.transactionNumber}}</td>
                <td>{{stockTransfer.transactionDate | date:'mediumDate'}}</td>
                <td>{{stockTransfer.transactionDescription}}</td>
                <td>{{stockTransfer.transactionQty}}</td>
                <td>
                    <div *ngIf="stockTransfer.item">
                        <a [routerLink]="['/items', stockTransfer.item?.id, 'view' ]" >{{stockTransfer.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockTransfer.locationFrom">
                        <a [routerLink]="['/location', stockTransfer.locationFrom?.id, 'view' ]" >{{stockTransfer.locationFrom?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockTransfer.locationTo">
                        <a [routerLink]="['/location', stockTransfer.locationTo?.id, 'view' ]" >{{stockTransfer.locationTo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/stock-transfer', stockTransfer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stock-transfer', stockTransfer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(stockTransfer)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="stockTransfers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
