<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exUser">
            <h2><span>Ex User</span> {{exUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Key</span></dt>
                <dd>
                    <span>{{exUser.userKey}}</span>
                </dd>
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{exUser.login}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{exUser.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{exUser.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{exUser.email}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{exUser.isActive}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{exUser.phone}}</span>
                </dd>
                <dt><span>Address Line 1</span></dt>
                <dd>
                    <span>{{exUser.addressLine1}}</span>
                </dd>
                <dt><span>Address Line 2</span></dt>
                <dd>
                    <span>{{exUser.addressLine2}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{exUser.city}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{exUser.country}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="exUser.image">
                        <a (click)="openFile(exUser.imageContentType!, exUser.image)">
                            <img [src]="'data:' + exUser.imageContentType + ';base64,' + exUser.image" style="max-width: 100%;" alt="exUser image"/>
                        </a>
                        {{exUser.imageContentType}}, {{byteSize(exUser.image)}}
                    </div>
                </dd>
                <dt><span>User Limit</span></dt>
                <dd>
                    <span>{{exUser.userLimit}}</span>
                </dd>
                <dt><span>Credit Score</span></dt>
                <dd>
                    <span>{{exUser.creditScore}}</span>
                </dd>
                <dt><span>Related User</span></dt>
                <dd>
                    {{exUser.relatedUser?.id}}
                </dd>
                <dt><span>History</span></dt>
                <dd>
                    <div *ngIf="exUser.history">
                        <a [routerLink]="['/document-history', exUser.history?.id, 'view']">{{exUser.history?.id}}</a>
                    </div>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="exUser.company">
                        <a [routerLink]="['/company', exUser.company?.id, 'view']">{{exUser.company?.id}}</a>
                    </div>
                </dd>
                <dt><span>Locations</span></dt>
                <dd>
                    <span *ngFor="let locations of exUser.locations; let last = last">
                        <a [routerLink]="['/location', locations?.id, 'view' ]">{{locations.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>User Groups</span></dt>
                <dd>
                    <span *ngFor="let userGroups of exUser.userGroups; let last = last">
                        <a [routerLink]="['/user-group', userGroups?.id, 'view' ]">{{userGroups.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>User Permissions</span></dt>
                <dd>
                    <span *ngFor="let userPermissions of exUser.userPermissions; let last = last">
                        <a [routerLink]="['/user-permissions', userPermissions?.id, 'view' ]">{{userPermissions.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ex-user', exUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
