<div>
    <h2 id="page-heading">
        <span>Ex Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ex-user" [routerLink]="['/ex-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Ex User
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="exUsers?.length === 0">
        <span>No exUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="exUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userKey"><span>User Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="login"><span>Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="firstName"><span>First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastName"><span>Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span>Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phone"><span>Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="addressLine1"><span>Address Line 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="addressLine2"><span>Address Line 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="city"><span>City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="country"><span>Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="image"><span>Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userLimit"><span>User Limit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="creditScore"><span>Credit Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="relatedUser.id"><span>Related User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="history.id"><span>History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="company.id"><span>Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let exUser of exUsers ;trackBy: trackId">
                <td><a [routerLink]="['/ex-user', exUser.id, 'view' ]">{{exUser.id}}</a></td>
                <td>{{exUser.userKey}}</td>
                <td>{{exUser.login}}</td>
                <td>{{exUser.firstName}}</td>
                <td>{{exUser.lastName}}</td>
                <td>{{exUser.email}}</td>
                <td>{{exUser.isActive}}</td>
                <td>{{exUser.phone}}</td>
                <td>{{exUser.addressLine1}}</td>
                <td>{{exUser.addressLine2}}</td>
                <td>{{exUser.city}}</td>
                <td>{{exUser.country}}</td>
                <td>
                    <a *ngIf="exUser.image" (click)="openFile(exUser.imageContentType, exUser.image)">
                        <img [src]="'data:' + exUser.imageContentType + ';base64,' + exUser.image" style="max-height: 30px;" alt="exUser image"/>
                    </a>
                    <span *ngIf="exUser.image">{{exUser.imageContentType}}, {{byteSize(exUser.image)}}</span>
                </td>
                <td>{{exUser.userLimit}}</td>
                <td>{{exUser.creditScore}}</td>
                <td>
                    {{exUser.relatedUser?.id}}
                </td>
                <td>
                    <div *ngIf="exUser.history">
                        <a [routerLink]="['/document-history', exUser.history?.id, 'view' ]" >{{exUser.history?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="exUser.company">
                        <a [routerLink]="['/company', exUser.company?.id, 'view' ]" >{{exUser.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ex-user', exUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ex-user', exUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(exUser)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
